<%- include('./components/header.ejs') %>

<style>
    body,
    html {
        padding: 0 0;
        margin: 0 !important;
        height: 100%;
        background: linear-gradient(150deg, white, rgb(178, 209, 235));
        font-family: 'Indie Flower', cursive;
        font-weight: 5000 !important;
        font-size: large;
        color: rgb(6, 32, 54) !important;
    }

    .outer {}

    .line {
        background-color: rgb(46, 113, 173);
        width: 80%;
        height: 1px;
        margin: auto;
    }

    .elevate {
        box-shadow: 0px 0px 20px rgb(100, 139, 174);
    }

    .btn_elevate {
        box-shadow: 1px 1px 20px rgb(10, 66, 115);
    }


    .container {

        margin-top: 50px;
        padding: 50px;

        border-radius: 20px;
        background: linear-gradient(150deg, white, rgb(178, 209, 235));

        background-color: rgb(249, 252, 255);
        justify-content: center;

        color: rgb(46, 113, 173) !important;



    }
</style>


<body>

    <div class="outer">

        <div class="col-sm-3"></div>

        <div class="container col-sm-6 elevate">
            <h1 align="center">Chill Padhai <i class="fa-solid fa-leaf"></i></h1>

            <br>
            <div class="line"></div>
            <br>

            <p>Login to change the your current information</p>
            <p>Do not have an account? You might wanna <a href="/auth/register" style="color: blue">Register</a></a>
            </p>

            <br>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="BabyGobi@college.ac.in"
                    required>
            </div>

            <br>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="shakalaka_boom_boom" required>
            </div>

            <br>

            <div align="center">
                <br>
                <button class="btn btn-primary btn-lg btn_elevate" id="submit"> 
                    <i class="fa-solid fa-umbrella-beach"></i>
                    Submit
                </button>
                <br>
        
                <p id="check_username"></p>
                <p id="conf_username" style="color: green;"></p>
                <p id="check_password"></p>
                <p id="conf_password" style="color: green;"></p>
                <p id="welcome" style="color: green;"></p>
            </div>

        </div>

        <div class="col-sm-3"></div>
        
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
    </script>

    <script>
        $('#check_username').fadeOut();
        $('#conf_username').fadeOut();
        $('#check_password').fadeOut();
        $('#conf_password').fadeOut();
        $('#welcome').fadeOut();

        var cnt = 0

        $(document).ready(function () {

            $("#submit").click(function () {

                document.getElementById('check_username').innerHTML = '<i class="fa-solid fa-spinner"></i> Checking Username';
                $('#check_username').fadeIn();

                console.log("clicked subbmit")

                $.post("/auth/login_username_handle", {
                        email: document.getElementById('email').value,
                    },
                    function (data, status) {
                        
                        $('#check_username').fadeOut();
                        console.log(data)
                        
                        window.setTimeout(() => {
                            handle_username_output(data)
                        }, 1000)
                        
                    });
            });
        
        });
        


        function handle_username_output(data) {

            if (data.verdict === true) {
                document.getElementById('conf_username').innerHTML = '<i class="fa-solid fa-circle-check"></i> Username OK';
                $('#check_username').fadeOut();
                $('#conf_username').fadeIn();
                
                console.log("Preparing to check password");
                
                if (cnt == 0)
                {

                    window.setTimeout(() => {
                        handle_password()
                    }, 1000)
                    
                    cnt ++
                }
                

            } else {
                document.getElementById('conf_username').innerHTML = '<i class="fa-solid fa-circle-xmark"></i> ' + data.message;
                document.getElementById('conf_username').style.color = 'tomato';
                $('#conf_username').fadeIn();
                $('#check_username').fadeOut();
                
            }


            $('#buffering').fadeOut();
            $('#conf').fadeIn();

        }


        function handle_password()
        {

            document.getElementById('check_password').innerHTML = '<i class="fa-solid fa-spinner"></i> Checking password';
            $('#check_password').fadeIn();
            

            window.setTimeout(() => {

                $.post("/auth/login_handle", {
                    email: document.getElementById('email').value,
                    password: document.getElementById('password').value
                },
    
                function (data, status) {
                    
                    if (data.verdict === true)
                    {
                        document.getElementById('conf_password').innerHTML = '<i class="fa-solid fa-circle-check"></i> Password OK';
                        $('#check_password').fadeOut();
                        $('#conf_password').fadeIn();
        
        
                        console.log(data);
                        handle_username_output(data)
        
                        // final checking complete
                        // redirect
        
                        window.setTimeout(() =>
                        {
                            document.getElementById('welcome').innerHTML = 'Welcome, redirecting to home page';
                            $('#welcome').fadeIn();
                        }, 1000)

                    }
                    else
                    {
                        document.getElementById('conf_password').innerHTML = '<i class="fa-solid fa-circle-xmark"></i> ' + data.message ;
                        document.getElementById('conf_password').style.color = 'tomato';
                        $('#check_password').fadeOut();
                        $('#conf_password').fadeIn();

                    }
                    
                });


            }, 1000)
            
        }
        


    </script>
</body>

</html>